<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Add new Employee</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<script>
  const currentDate = new Date().toISOString().split('T')[0];

  function setMaxDate() {
    const dateField = document.getElementById('birth-date');
    const hiringDate = document.getElementById('hiring-date');
    const departureDate = document.getElementById('departure-date');
    const idCardDeliveredDate = document.getElementById('id-card-delivered-date');
    dateField.setAttribute('max', currentDate);
    hiringDate.setAttribute('max', currentDate);
    departureDate.setAttribute('max', currentDate)
    idCardDeliveredDate.setAttribute('max', currentDate)
    hiringDate.addEventListener('change', function () {
      const actual = new Date(this.value)
      departureDate.setAttribute('min', actual.toISOString().split('T')[0])
    })
  }
</script>
<body onload="setMaxDate()">
<div class="banner my-attribute">
  <div class="image-circle">
    <img class="profile-image" src="#" th:src="@{'data:image/jpeg;base64,' + ${company.logo}}" alt="Company Logo">
  </div>
  <div class="name">
    <h3 th:text="${company.companyName}"></h3>
  </div>
  <div class="middle-sentence">
    <p th:text="${company.slogan}"></p>
  </div>
</div>
<div class="container-fluid mt-4"> <!-- Use container-fluid to make the form full-width -->
  <div class="card p-3">
    <h2 class="text-center text-secondary">Add new employee</h2>
    <form action="#" th:action="@{/save-employee}" th:object="${employee}" method="post" enctype="multipart/form-data">
      <div class="row">
        <div class="col-md-6 mb-2">
          <label>First Name</label>
          <input class="form-control" type="text" th:field="*{firstName}" />
        </div>
        <div class="col-md-6 mb-2">
          <label>Last Name</label>
          <input class="form-control" type="text" th:field="*{lastName}" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-2">
          <label>Birth Date</label>
          <input id="birth-date" class="form-control" type="date" th:field="*{birthDate}" />
        </div>
        <div class="col-md-6 mb-2">
          <label>Employee Image</label>
          <input class="form-control" type="file" th:field="*{image}" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-2">
          <label>Gender</label>
          <select class="form-control" th:field="*{sex}">
            <option th:value="${sexEnumM}">Male</option>
            <option th:value="${sexEnumF}">Female</option>
          </select>
        </div>
        <div class="col-md-6 mb-2">
          <label>Address</label>
          <input class="form-control" type="text" th:field="*{address}" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-2">
          <label>Personal Email</label>
          <input class="form-control" type="email" th:field="*{personalEmail}" />
        </div>
        <div class="col-md-6 mb-2">
          <label>Professional Email</label>
          <input class="form-control" type="email" th:field="*{professionalEmail}" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-2">
          <label>Id Card Number</label>
          <input class="form-control" type="text" th:field="*{idCardNumber}" />
        </div>
        <div class="col-md-6 mb-2">
          <label>Id Card Delivered Date</label>
          <input id="id-card-delivered-date" class="form-control" type="date" th:field="*{idCardDeliveredDate}" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-2">
          <label>Id Card Place</label>
          <input class="form-control" type="text" th:field="*{idCardDeliveredPlace}" />
        </div>
        <div class="col-md-6 mb-2">
          <label>Function</label>
          <input class="form-control" type="text" th:field="*{function}" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-2">
          <label>Children In Charge</label>
          <input class="form-control" type="number" th:field="*{childrenInCharge}" min='0' />
        </div>
        <div class="col-md-6 mb-2">
          <label>Hiring date</label>
          <input id="hiring-date" class="form-control" type="date" th:field="*{hiringDate}" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-2">
          <label>Departure date</label>
          <input id="departure-date" class="form-control" type="date" th:field="*{departureDate}" />
        </div>
        <div class="col-md-6 mb-2">
          <label>Cnaps Number</label>
          <input class="form-control" type="text" th:field="*{cnapsNumber}" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mb-2">
          <label>Socio-professional category</label>
          <select class="form-control" th:field="*{socioProfessionalCategories}" id="categorySelect" name="socioProfessionalCategories" multiple="multiple">
            <option th:each="category : ${socioProCategories}" th:value="${category.id}" value="" th:text="${category.categoryName}">
            </option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mb-2" id="phoneNumber-fields">
          <label for="phoneNumber">Phone Number:</label>
          <input class="form-control" type="text" id="phoneNumber" th:field="*{phoneNumbers[0]}" required />
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mb-2">
          <button type="button" class="btn btn-secondary" onclick="addPhoneNumber()">Add Phone Number</button>
        </div>
      </div>
      <div class="mt-2">
        <button class="btn btn-primary" type="submit">Save</button>
        <a class="btn btn-secondary" th:href="@{/employee}">Cancel</a>
      </div>
    </form>
  </div>
</div>
<footer class="mt-5">
  <div class="container">
    <div class="footer-content text-center">
      <h4 th:text="${company.companyName}"></h4>
      <p>Contact Email: <span th:text="${company.contactEmail}"></span></p>
      <p>Address: <span th:text="${company.exactAddress}"></span></p>
      <p>NIF: <span th:text="${company.nif}"></span></p>
      <p>STAT: <span th:text="${company.stat}"></span></p>
      <p>RCS: <span th:text="${company.rcs}"></span></p>
      <p>Description: <span th:text="${company.description}"></span></p>
    </div>
  </div>
</footer>
<script th:inline="javascript">
  let phoneCount = 1;

  function addPhoneNumber() {
    const phoneInput = document.createElement("input");
    phoneInput.setAttribute("class", "form-control");
    phoneInput.setAttribute("type", "text");
    phoneInput.setAttribute("id", "phoneNumber" + phoneCount);
    phoneInput.setAttribute("name", "phoneNumbers[" + phoneCount + "]");
    phoneInput.setAttribute("required", "");
    document.getElementById("phoneNumber-fields").appendChild(phoneInput);
    phoneCount++;
  }
</script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>
