<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Employee Details</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<form class="card p-3" th:object="${employee}" action="#" th:action="@{/update-employee}" method="post">
  <div class="text-center">
    <img class="rounded-circle circle-image" src="#" th:src="@{'data:image/jpeg;base64,' + ${employee.image}}"
         alt="Employee Image">
    <div class="mt-3">
      <label for="newImage" class="btn btn-secondary">
        Choose New Image
        <input type="file" id="newImage" style="display: none;" accept="image/*" onchange="previewNewImage(event)"
               readonly>
      </label>
      <button id="removeImage" type="button" class="btn btn-danger ml-2" onclick="removeCurrentImage()"
              disabled>Remove Current Image
      </button>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-6 mb-3">
      <label for="personalNumber" class="form-label">Personal Number</label>
      <input type="text" class="form-control" id="personalNumber" th:value="${employee.personalNumber}"
             th:field="*{personalNumber}" readonly>
    </div>
    <div class="col-md-6 mb-3">
      <label for="firstName" class="form-label">First Name</label>
      <input type="text" class="form-control" id="firstName" th:value="${employee.firstName}"
             th:field="*{firstName}" readonly>
    </div>
    <div class="col-md-6 mb-3">
      <label for="lastName" class="form-label">Last Name</label>
      <input type="text" class="form-control" id="lastName" th:value="${employee.lastName}"
             th:field="*{lastName}" readonly>
    </div>
    <div class="col-md-6 mb-3">
      <label for="birthDate" class="form-label">Birth Date</label>
      <input type="date" class="form-control" id="birthDate" th:value="${employee.birthDate}"
             th:field="*{birthDate}" readonly>
    </div>
    <div class="col-md-6 mb-3">
      <label for="sex" class="form-label">Sex</label>
      <select id="sex" class="form-select" disabled>
        <option th:value="${sexEnumM}" th:selected="${employee.sex == 'M'}">M</option>
        <option th:value="${sexEnumF}" th:selected="${employee.sex == 'F'}">F</option>
      </select>
    </div>
    <div class="col-md-6 mb-3">
      <label for="address" class="form-label">Address</label>
      <input type="text" class="form-control" id="address" th:value="${employee.address}"
             th:field="*{address}" readonly>
    </div>
    <div class="col-md-6 mb-3">
      <label for="personalEmail" class="form-label">Personal Email</label>
      <input type="text" class="form-control" id="personalEmail" th:value="${employee.personalEmail}"
             th:field="*{personalEmail}" readonly>
    </div>
    <div class="col-md-6 mb-3">
      <label for="proEmail" class="form-label">Professional Email</label>
      <input type="text" class="form-control" id="proEmail" th:value="${employee.professionalEmail}"
             th:field="*{professionalEmail}" readonly>
    </div>
    <div class="col-md-6 mb-3">
      <label for="ICNumber" class="form-label">Id Card Number</label>
      <input type="text" class="form-control" id="ICNumber" th:value="${employee.idCardNumber}"
             th:field="*{idCardNumber}" readonly>
    </div>
    <div class="col-md-6 mb-3">
      <label for="ICDate" class="form-label">Id Card Delivered Date</label>
      <input type="date" class="form-control" id="ICDate" th:value="${employee.idCardDeliveredDate}"
             th:field="*{idCardDeliveredDate}" readonly>
    </div>
    <div class="col-md-6 mb-3">
      <label for="ICPlace" class="form-label">Id Card Delivered Place</label>
      <input type="text" class="form-control" id="ICPlace" th:value="${employee.idCardDeliveredPlace}"
             th:field="*{idCardDeliveredPlace}" readonly>
    </div>
    <div class="col-md-6 mb-3">
      <label for="function" class="form-label">Function</label>
      <input type="text" class="form-control" id="function" th:value="${employee.function}"
             th:field="*{function}" readonly>
    </div>
    <div class="col-md-6 mb-3">
      <label for="childrenNb" class="form-label">Children In Charge</label>
      <input type="number" min="0" class="form-control" id="childrenNb" th:value="${employee.childrenInCharge}"
             th:field="*{childrenInCharge}" readonly>
    </div>
    <div class="col-md-6 mb-3">
      <label for="hiringDate" class="form-label">Hiring Date</label>
      <input type="date" class="form-control" id="hiringDate" th:value="${employee.hiringDate}"
             th:field="*{hiringDate}" readonly>
    </div>
    <div class="col-md-6 mb-3">
      <label for="departureDate" class="form-label">Departure Date</label>
      <input type="date" class="form-control" id="departureDate" th:value="${employee.departureDate}"
             th:field="*{departureDate}" readonly>
    </div>
    <div class="col-md-6 mb-3">
      <label for="cnapsNumber" class="form-label">CNAPS Number</label>
      <input type="text" class="form-control" id="cnapsNumber" th:value="${employee.cnapsNumber}"
             th:field="*{cnapsNumber}" readonly>
    </div>
    <div class="col-md-6 mb-3">
      <label for="phoneNumber" class="form-label">Phone Numbers</label>
      <div th:each="phoneNumber : ${employee.getPhoneNumbers()}">
        <input type="text" class="form-control" th:value="${phoneNumber.number}" readonly>
        <br/>
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <label for="spc" class="form-label">Socio-Professional Category</label>
      <div th:each="spc : ${employee.spc}">
        <input type="text" class="form-control" th:value="${spc.categoryName}" readonly>
        <br/>
      </div>
    </div>
    <div class="col-md-12 mt-3">
      <button type="button" class="btn btn-primary" id="editButton">Edit</button>
      <button type="submit" class="btn btn-primary" id="saveButton" disabled>Save</button>
      <a class="btn btn-secondary" th:href="@{/employee}">Close</a>
    </div>
  </div>
</form>
</body>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script>
  document.getElementById("editButton").addEventListener("click", function () {
    const formFields = document.querySelectorAll('input, select');
    formFields.forEach(field => {
      field.removeAttribute("readonly");
      field.removeAttribute("disabled");
    });
    document.getElementById("saveButton").removeAttribute("disabled");
  });

  function previewNewImage(event) {
    const input = event.target;
    if (input.files && input.files[0]) {
      const reader = new FileReader();
      reader.onload = function (e) {
        const previewImage = document.querySelector('.circle-image');
        previewImage.src = e.target.result;
      };
      reader.readAsDataURL(input.files[0]);
    }
  }

  function removeCurrentImage() {
    const previewImage = document.querySelector('.circle-image');
    previewImage.src = '#'; // Replace this with the default image URL or empty string to display nothing.
  }
</script>
</html>
