<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Employees</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<div class="banner my-attribute bg-primary text-white text-center py-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-4">
                <div class="image-circle">
                    <img class="profile-image rounded-circle" src="#" th:src="@{'data:image/jpeg;base64,' + ${company.logo}}" alt="Company Logo">
                </div>
            </div>
            <div class="col-md-4">
                <div class="name">
                    <h3 th:text="${company.companyName}"></h3>
                </div>
                <div class="middle-sentence">
                    <p th:text="${company.slogan}"></p>
                </div>
            </div>
            <div class="col-md-4">
                <a href="/logout" class="btn btn-light float-right">Déconnexion</a>
            </div>
        </div>
    </div>
</div>

<main class="container mt-4">
    <form th:action="@{/employee/search}" method="get" class="row">
        <div class="col-md-3 mb-1">
            <label for="lastName-search">Filter by last name</label>
            <input id="lastName-search" class="form-control" type="text" name="lastName" placeholder="Enter search keyword for last name">
        </div>
        <div class="col-md-3 mb-1">
            <label for="lastName-search">Filter by first name</label>
            <input class="form-control" id="firstName-search" type="text" name="firstName" placeholder="Enter search keyword for first name">
        </div>
        <div class="col-md-3 mb-1">
            <label for="lastName-search">filter by function</label>
            <input class="form-control" id="function-search" type="text" name="function" placeholder="Enter search keyword for function">
        </div>
        <div class="col-md-3 mb-1">
            <label for="lastName-search">Filter by hiring date(from)</label>
            <input class="form-control" id="hiredFrom-search" type="date" name="hiredFrom">
        </div>
        <div class="col-md-3 mb-1">
            <label for="lastName-search">Filter by hiring date(to)</label>
            <input class="form-control" id="hiredTo-search" type="date" name="hiredTo">
        </div>
        <div class="col-md-3 mb-1">
            <label for="lastName-search">Filter by departure date(from)</label>
            <input class="form-control"  id="wentFrom-search"type="date" name="wentFrom">
        </div>
        <div class="col-md-3 mb-1">
            <label for="lastName-search">Filter by departure date(to)</label>
            <input class="form-control" id="wentTo-search" type="date" name="wentTo">
        </div>
        <div class="col-md-3 mb-1">
            <label for="page">Page number</label>
            <input class="form-control" id="page" type="number" name="page">
        </div>
        <div class="col-md-3 mb-1">
            <label for="pageSize">Page size</label>
            <input class="form-control" id="pageSize" type="number" name="pageSize">
        </div>
        <div class="col-md-3 mb-1">
            <label for="sex-search">Filter by sex</label>
            <select class="form-control" id="sex-search" name="sex">
                <option th:value="${null}">-- Select Gender --</option>
                <option th:value="${sexEnumM}">Male</option>
                <option th:value="${sexEnumF}">Female</option>
            </select>
        </div>
        <div class="col-md-3 mb-1">
            <label for="code-search">Filter by phone code</label>
            <select class="form-control" id="code-search" name="phoneCode">
                <option th:value="${null}">-- Select Phone Code --</option>
                <option value="+93">Afghanistan (+93)</option>
                <option value="+355">Albania (+355)</option>
                <option value="+213">Algeria (+213)</option>
                <option value="+33">France (+33)</option>
                <option value="+261">Madagascar +(261)</option>
                <option value="+1">USA (+1)</option>
                <option value="+263">Zimbabwe (+263)</option>
            </select>
        </div>
        <div class="col-md-3 mb-1">
            <label for="nameOrder-order">order by last name </label>
            <select id="nameOrder-order" class="form-control" name="lastNameOrder">
                <option th:value="${null}">-- Select Last Name direction --</option>
                <option th:value="${orderASC}">ASC</option>
                <option th:value="${orderDESC}">DESC</option>
            </select>
        </div>
        <div class="col-md-3 mb-1">
            <label for="sex-search">Order by first name</label>
            <select class="form-control" name="firstNameOrder">
                <option th:value="${null}">-- Select First Name direction --</option>
                <option th:value="${orderASC}">ASC</option>
                <option th:value="${orderDESC}">DESC</option>
            </select>
        </div>
        <div class="col-md-3 mb-1">
            <label for="nameOrder-order">Order by sex</label>
            <select class="form-control" name="sexOrder">
                <option th:value="${null}">-- Select Sex direction --</option>
                <option th:value="${orderASC}">ASC</option>
                <option th:value="${orderDESC}">DESC</option>
            </select>
        </div>
        <div class="col-md-3 mb-1">
            <label for="nameOrder-order">Order by function </label>
            <select class="form-control" name="functionOrder">
                <option th:value="${null}">-- Select Function direction --</option>
                <option th:value="${orderASC}">ASC</option>
                <option th:value="${orderDESC}">DESC</option>
            </select>
        </div>
        <div class="col-md-12">
            <button class="btn btn-secondary" type="submit">Search</button>
            <a class="btn btn-secondary" th:href="@{/employee}">Reset</a>
        </div>
    </form>
    <div class="table-responsive mt-2 w-100">
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Personal Number</th>
                <th class="sortable-column">First Name <span class="fa-sort-up"></span></th>
                <th>Last Name</th>
                <th>Birth Date</th>
                <th>Sex</th>
                <th>Address</th>
                <th>Personal Email</th>
                <th>Professional Email</th>
                <th>Id Card Number</th>
                <th>Id Card Delivered Date</th>
                <th>Id Card Delivered Place</th>
                <th>Function</th>
                <th>Number of Children in Charge</th>
                <th>Hiring Date</th>
                <th>Departure Date</th>
                <th>CNAPS Number</th>
                <th>Phone Numbers</th>
                <th>SPC</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="employee : ${employees}" th:data-name="${employee.id}" th:onclick="redirectToEmployeeDetails(this.getAttribute('data-name'))">
                <td><img class="rounded-circle circle-image" src="#" th:src="@{'data:image/jpeg;base64,' + ${employee.image}}" alt="Employee Image"></td>
                <td th:text="${employee.personalNumber}"></td>
                <td th:text="${employee.firstName}"></td>
                <td th:text="${employee.lastName}"></td>
                <td th:text="${employee.birthDate}"></td>
                <td th:text="${employee.sex}"></td>
                <td th:text="${employee.address}"></td>
                <td th:text="${employee.personalEmail}"></td>
                <td th:text="${employee.professionalEmail}"></td>
                <td th:text="${employee.idCardNumber}"></td>
                <td th:text="${employee.idCardDeliveredDate}"></td>
                <td th:text="${employee.idCardDeliveredPlace}"></td>
                <td th:text="${employee.function}"></td>
                <td th:text="${employee.childrenInCharge}"></td>
                <td th:text="${employee.hiringDate}"></td>
                <td th:text="${employee.departureDate}"></td>
                <td th:text="${employee.cnapsNumber}"></td>
                <td class="phone-numbers">
                    <ul class="list-unstyled">
                        <li th:each="phoneNumber : ${employee.phoneNumbers}" th:text="${phoneNumber.code + phoneNumber.number}"></li>
                    </ul>
                </td>
                <td class="spcs">
                    <ul class="list-unstyled">
                        <li th:each="spc : ${employee.spc}" th:text="${spc.categoryName}"></li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <a class="btn btn-secondary" th:href="@{/add-employee}">Add new employee</a>
    <button class="btn btn-primary" onclick="exportData()">Export</button>
</main>
<footer class="mt-5">
    <div class="container">
        <div class="footer-content text-center">
            <h4 th:text="${company.companyName}"></h4>
            <p>Contact Email: <span th:text="${company.contactEmail}"></span></p>
            <p>Address: <span th:text="${company.exactAddress}"></span></p>
            <p>NIF: <span th:text="${company.nif}"></span></p>
            <p>STAT: <span th:text="${company.stat}"></span></p>
            <p>RCS: <span th:text="${company.rcs}"></span></p>
            <p>Description: <span th:text="${company.description}"></span></p>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
<script>
    function exportData() {
        const employees = [];

        const employeeRows = document.querySelectorAll("table tbody tr");

        employeeRows.forEach((row) => {
            const personalNumber = row.cells[1].innerText;
            const firstName = row.cells[2].innerText;
            const lastName = row.cells[3].innerText;
            const birthDate = row.cells[4].innerText;
            const sex = row.cells[5].innerText;
            const address = row.cells[6].innerText;
            const personalEmail = row.cells[7].innerText;
            const professionalEmail = row.cells[8].innerText;
            const idCardNumber = row.cells[9].innerText;
            const idCardDeliveredDate = row.cells[10].innerText;
            const idCardDeliveredPlace = row.cells[11].innerText;
            const employeeFunction = row.cells[12].innerText;
            const childrenInCharge = row.cells[13].innerText;
            const hiringDate = row.cells[14].innerText;
            const departureDate = row.cells[15].innerText;
            const cnapsNumber = row.cells[16].innerText;
            const phoneNumbers = [];
            row.querySelectorAll("td.phone-numbers ul li").forEach((phoneNumber) => {
                phoneNumbers.push(phoneNumber.innerText);
            });
            const spc = [];
            row.querySelectorAll("td.spcs ul li").forEach((spcItem) => {
                spc.push(spcItem.innerText);
            });

            employees.push({
                personalNumber,
                firstName,
                lastName,
                birthDate,
                sex,
                address,
                personalEmail,
                professionalEmail,
                idCardNumber,
                idCardDeliveredDate,
                idCardDeliveredPlace,
                employeeFunction,
                childrenInCharge,
                hiringDate,
                departureDate,
                cnapsNumber,
                phoneNumbers,
                spc,
            });
        });

        // Make the POST request
        fetch("/employee/export", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(employees),
        })
            .then((response) => {
                alert("Exported Successfully!")
            })
            .catch((error) => {
                alert("Export Failed Successfully!")
            });
    }
</script>
</body>
</html>
