<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Employees</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<main>
<table class="table table-striped table-hover mt-5">
    <thead>
    <tr>
        <th>#</th>
        <th>Personal Number</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Birth Date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employee : ${employees}" th:data-name="${employee.id}" th:onclick="redirectToEmployeeDetails(this.getAttribute('data-name'))">
        <td><img class="rounded-circle circle-image" src="#" th:src="@{'data:image/jpeg;base64,' + ${employee.image}}" alt="Employee Image"></td>
        <td class="p-5" th:text="${employee.personalNumber}"></td>
        <td class="p-5" th:text="${employee.firstName}"></td>
        <td class="p-5" th:text="${employee.lastName}"></td>
        <td class="p-5" th:text="${employee.birthDate}"></td>
    </tr>
    </tbody>
</table>
<a class="btn btn-secondary" th:href="@{/add-employee}">Add new employee</a>
</main>
</body>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
</html>